{% extends "base.html" %}
{% load static %}
{% block meta_keywords %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_keywords }}"
{% endblock %}

{% block meta_description %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_description }}"
{% endblock %}

{% block title %}
	Извините! Страница не найдена
{% endblock %}

{% block libs %}
	{{ block.super }}
	<style>
		#feedback {
			color: #1c6107;
		}
		#feedback ul {
			padding-left: 0;
		}
		#feedback ul li {
			list-style: none;
		}
	</style>
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <img src="{% static 'images/404.png' %}" style="float: left;">	
	  <h1 style="font-size: 35px; text-align: center; border: none;">Извините! Страница не найдена</h1>
		<p>Страница которую вы ищете возможно была изменена, перемещена или временно недоступна. 
		<p>Попробуйте:</p>
		<ul>
		<li>Проверьте правильность набора адреса</li>
		<li>Если вы попали сюда с другой страницы сообщите нам что у нас есть неверная ссылка</li>
		</ul>
		</p>
		<br>
    </div>
  </section>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
{% endblock %}