{% extends "base.html" %}
{% load static %}
{% block meta_keywords %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_keywords }}"
{% endblock %}

{% block meta_description %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_description }}"
{% endblock %}

{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}">
	</style>
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <h1 class="text-center"><span>Вопрос ответ</span></h1>
      <!-- DC Toggle 2 Start -->
		  <div class="dc_toggle_container" style="width:98%;"> + <a href="#" class="toggleCollapse" rel="style2" onclick="return false;">expand all</a><br>
			<br>
			{{ flatpage.content }}
		  </div>	  
    </div>
  </section>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/dc_accordion_toggle.js' %}"></script>
{% endblock %}