{% extends "base.html" %}
{% load static %}
{% block meta_keywords %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_keywords }}"
{% endblock %}

{% block meta_description %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_description }}"
{% endblock %}

{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes.css' %}">
	</style>
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}{% endblock %}

{% block content %}
<section class="main__middle__container">
  <section class="recent-posts">
    <div class="container">
      <h1 class="text-center"><span>Вопрос ответ</span></h1>
      <!-- DC Toggle 2 Start -->
		  <div class="dc_toggle_container" style="width:98%;"> + <a href="#" class="toggleCollapse" rel="style2" onclick="return false;">expand all</a><br>
			<br>
			
				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">1. Необходимо ли мастеру перманентного макияжа медицинское образование?</a></div>
					<div style="display: none;" class="dc_toggle_box">Безусловно!!! Именно этот критерий должен быть основным при выборе мастера. 
					Ни в коем случае не стоит доверять тем, кто предлагает вам услуги перманентного макияжа, не имея диплома медика. 
					Это может пагубно сказаться и на вашей внешности и на вашем здоровье. 
					Так что первый вопрос, который нужно задать мастеру: «Есть ли у вас медицинское образование?» У нашего мастера оно есть!
					</div>
				</div>
				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">2. Нужно ли сбривать брови перед проведением процедуры перманентного макияжа?</a></div>
					<div style="display: none;" class="dc_toggle_box">Нет. Это миф, выдуманный обывателями. 
					Все что необходимо сделать перед проведением данной процедурой, наш мастер сообщит вам на предварительной консультации, которая у нас проводится бесплатно.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">3. Подбирается ли необходимый пигмент под каждого конкретного клиента?</a></div>
					<div style="display: none;" class="dc_toggle_box">В обязательном порядке и мы работаем только так! С учетом ваших пожеланий, природного пигмента и поставленных перед мастером задач. Палитра пигмента настолько огромна, что можно удовлетворить любой вкус, а попадание в нужный цвет зависит, в первую очередь, от опыта и профессионализма мастера.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">4. Не станут ли мои брови синими после процедуры?</a></div>
					<div style="display: none;" class="dc_toggle_box">Это исключено, если мастера делает вам перманентный макияж «правильным» пигментом, который используется только в этой процедуре.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">5. Насколько болезненна сама процедура ПМ?</a></div>
					<div style="display: none;" class="dc_toggle_box">С использованием качественной анестезии она практически безболезненна.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">6. Делают ли обезболивающие уколы для проведения процедуры ПМ и в каких случаях?</a></div>
					<div style="display: none;" class="dc_toggle_box">На сегодняшний день мастера-профессионалы используют в своей работе исключительно мази для анестезии, избегая болезненных уколов. Эффективность их воздействия позволяет не испытывать дискомфорта и боли в ходе процедуры.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">7. Через какое время после проведения процедуры можно смело показаться «на люди»?</a></div>
					<div style="display: none;" class="dc_toggle_box">Если это перманентный макияж губ – через пару часов вы в полной боевой готовности. После перманентного макияжа бровей можете выходить в свет сразу, как, впрочем и перманентный макияж глаз –«стреляйте» ими,  как только встанете с кресла мастера.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">8. Как долго держится перманентный макияж?</a></div>
					<div style="display: none;" class="dc_toggle_box">От 1,5 лет до 3-х, в зависимости от физиологических особенностей вашего организма и степени активности образа жизни.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">9. Как долго проходит процесс заживления?</a></div>
					<div style="display: none;" class="dc_toggle_box">От 3-х до 5 дней, если соблюдать всем рекомендации мастера по уходу за зоной лица, в которой проводилась процедура ПМ.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">10. Предусмотрена ли предварительная консультация мастера и сколько она стоит?</a></div>
					<div style="display: none;" class="dc_toggle_box">Данная консультация проводится по желанию клиента, если она ему необходима для принятия решения, делать или нет перманентный макияж. У нас она  БЕСПЛАТНАЯ.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">11. Может ли мастер дать профессиональный и аргументированный ответ, нужен ли мне перманентный макияж?</a></div>
					<div style="display: none;" class="dc_toggle_box">ОДНОЗНАЧНО! Если вам он не нужен и ваша внешность не нуждается в подобных коррекциях, мастер сообщит вам об этом в ходе проведения предварительной консультации. Но решение все равно остается за вами.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">12. Необходимо ли делать коррекцию после самой процедуры ПМ и в какие сроки?</a></div>
					<div style="display: none;" class="dc_toggle_box">Это обязательно. Первая проводится через 2-5 недель после прохождения процедуры, чтобы довести все до идеальной формы, а затем по мере необходимости.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">13. Какова последовательность процедуры нанесения перманентного макияжа в вашем салоне?</a></div>
					<div style="display: none;" class="dc_toggle_box">Работаем по схеме:
				Предварительная запись – Подбираем идеальную форму (бровей, глаз, губ) – нанесение «эскиза» (репетиция) - подбор подходящего пигмента – непосредственно проведение самой процедуры перманентного макияжа мастером – процесс заживления – коррекция (через месяц) – снова процесс заживления – КОНЕЧНЫЙ РЕЗУЛЬТАТ – КРАСОТКА!
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">14. Кому противопоказан перманентный макияж?</a></div>
					<div style="display: none;" class="dc_toggle_box">Как и в любой процедуре в перманентном макияже тоже есть свои ограничения. Его категорически нельзя делать в следующих случаях:
					<br>
					- при сахарном диабете и других заболеваниях крови;
					<br>
					- онкобольным;
					<br>
					- страдающим заболеваниями глаз;
					<br>
					- временно противопоказан в случае беременности и грудного вскармливания;
					<br>
					- даже при наличии простудных заболеваний лучше перенести процедуру до момента полного выздоровления.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">15. Нужно ли принимать препараты против герпеса после или до проведения процедуры?</a></div>
					<div style="display: none;" class="dc_toggle_box">Обязательно, если речь идет о перманентном макияже губ, все остальные нюансы, касающиеся этого, можно уточнить на консультации у мастера.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">16. Отчего зависит степень осветления пигмента после проведения процедуры?</a></div>
					<div style="display: none;" class="dc_toggle_box">В первую очередь от физиологических особенностей организма и образа жизни клиента. Чем активней проходит ваша жизнь, тем быстрее происходят обменные процессы в организме, что значительно ускоряет рассасывание пигмента.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">17. Есть ли риск при проведении процедуры перманентного макияжа век получить травму?</a></div>
					<div style="display: none;" class="dc_toggle_box">Риск всегда и во всем присутствует, но его степень зависит исключительно от профессионализма мастера. В случае перманентного макияжа глаз травмы возможны, только если с вами работает не опытный мастер или используется не качественный инструмент. В нашем случае медицинское образование Анны Кары и ее многолетний опыт работы полностью исключают такую возможность.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">18. Сколько времени нужно выделить на прохождения процедуры перманентного макияжа?</a></div>
					<div style="display: none;" class="dc_toggle_box">Вам понадобиться всего лишь от 2 до 2,5 часов, чтобы стать красивой и ухоженной на долгие месяцы.
					</div>
				</div>

				<div class="dc_toggle style2 dc_hide">
				<div><a href="" class="dc_toggle_link">19. На каких зонах лица можно делать перманентный макияж?</a></div>
					<div style="display: none;" class="dc_toggle_box">Их много, но выбор исключительно за вами: губы, брови, веки, скулы, ореола груди. Главное, что все выше перечисленное в любом случае будет выглядеть натурально, если вы выбираете Анну Кару.	
					</div>
				</div>
			
			{{ flatpage.content }}
		  </div>	  
    </div>
  </section>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'js/dc_accordion_toggle.js' %}"></script>
{% endblock %}