{% extends "base.html" %}
{% load static %}
{% block meta_keywords %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_keywords }}"
{% endblock %}

{% block meta_description %}
	"{{ block.super }} {{ flatpage.extendedflatpage.meta_description }}"
{% endblock %}

{% block title %}
	{{ flatpage.title }}
{% endblock %}

{% block libs %}
	{{ block.super }}
{% endblock %}

{% block menu %}
	{{ block.super }}
{% endblock %}

{% block slider %}
	{{ block.super }}
{% endblock %}

{% block content %}
<!--end of sldier section-->
<section class="main__middle__container">
  <div class="container">
    <div class="row">
      
		{{ flatpage.content }}
	  
    </div>
    <hr>
    <div class="row text-center three-blocks">
      <div class="col-md-4"> 
		<a href="articles/tatuazh-brovej/">
			<img src="{% static 'images/pic1.jpg' %}" alt="image" class="img-rounded img-responsive">
		</a>
        <h3>ПЕРМАНЕНТНЫЙ МАКИЯЖ БРОВЕЙ</h3>
        <hr>
        <p>Перманентный макияж бровей - это процедура, после которой идут слёзы радости.</p>
        <p><a class="btn btn-lg btn-primary" href="articles/tatuazh-brovej/" role="button">Подробнее</a></p>
      </div>
      <div class="col-md-4"> 
		<a href="articles/tatuazh-gub/">
			<img src="{% static 'images/pic2.jpg' %}" alt="image" class="img-rounded img-responsive">
		</a>
        <h3>ПЕРМАНЕНТНЫЙ МАКИЯЖ ГУБ</h3>
        <hr>
        <p>Перманентный макияж губ - процедура, которая заставит влюбится в Вас заново.</p>
        <p><a class="btn btn-lg btn-primary" href="articles/tatuazh-gub/" role="button">Подробнее</a></p>
      </div>
      <div class="col-md-4"> 
		<a href="articles/tatuazh-vek/">
			<img src="{% static 'images/pic3.jpg' %}" alt="image" class="img-rounded img-responsive">
		</a>
        <h3>ПЕРМАНЕНТНЫЙ МАКИЯЖ ВЕК</h3>
        <hr>
        <p>Перманентный макияж век - процедура, которая сделает Ваши глаза выразительнее.</p>
        <p><a class="btn btn-lg btn-primary" href="articles/tatuazh-vek/" role="button">Подробнее</a></p>
      </div>
    </div>
    <div class="row service-icons"></div>
	<hr>
  </div>
  
  <div class="row grey-info-block text-center">
    <div class="container">
      <h2 class="">Записаться на бесплатную консультацию прямо сейчас</h2>
      <p class="">Если Вы ещё сомневаетесь делать Вам перманентный макияж или нет, 
	  записывайтесь на предварительную, БЕСПЛАТНУЮ консультацию, 
	  на которой мастер грамотно подберёт самый подходящий Ваш образ.</p>
      <p><a class="btn btn-info modalbox" href="#inline" role="button">Заказать услугу</a><a class="btn btn-default" href="articles/besplatnaya-konsultaciya-po-premanentnomu-makiyazhu-v-kieve/" role="button">Подробнее</a></p>
	</div>
  </div>
</section>
{% endblock %}

{% block add_libs %}
	{{ block.super }}
	<script type="text/javascript">
		$('.carousel').carousel({
		  interval: 5000, // in milliseconds
		  pause: 'none' // set to 'true' to pause slider on mouse hover
		})
	</script>
{% endblock %}